@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --primaryColor: #FFE17F;
  --primaryHoverColor: #FFC700;
  --secondaryColor: #F0F0F0;
  --primaryDarkColor: #444444;
  --primaryTextColor: #000000;
  --paginationColor: #EBEBEB;
  --battonFocusColor: #AF4FFF;
  --battonActiveColor: #FFCC33;
  --whiteColor: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: var(--primaryTextColor);
  background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.page-header {
  background-color: var(--primaryColor);

}

.header-wrapper {
  width: 1040px;
  padding: 0 60px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}

.header-logo {
  width: 100%;
}

.header-logo {
  margin-top: -20px;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-logo:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.user-menu {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header-form {
  max-width: 456px;
}

.user-menu-item {
  min-width: 118px;
}

.user-menu-link {
  line-height: 21px;
  color: var(--primaryTextColor);
  background-color: var(--primaryColor);
  text-decoration: none;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-link:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.user-menu-item.login {
  max-width: 140px;
}

.user-menu-item.user {
  justify-content: flex-start;
}

.user-menu-link-text {
  padding-left: 11px;
}

.user-menu-link.user-exit {
  opacity: 0.3;
  margin-left: 28px;
}

.navigation-link {
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primaryTextColor);
  background-color: var(--primaryColor);
  text-decoration: none;
  letter-spacing: 0.2em;
}

.catalog-menu-list {
  margin: 0;
  padding: 0;
  width: 1160px;
  flex-wrap: wrap;
  display: flex;
}

.catalog-menu-button {
  margin-right: 287px;
  margin-top: 50px;
}

.navigation-list.menu {
  width: 472px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  list-style-type: none;
}

.navigation-item {
  width: 130px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.catalog-menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: var(--primaryTextColor);
  width: 211px;
  margin-bottom: 27px;
}

.catalog-menu-item {
  height: 120px;
  margin-top: 30px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
}

.catalog-menu-link:hover {
  opacity: 0.6;
}

.catalog-menu-link:active {
  opacity: 0.3;
}

.catalog-menu-link:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.catalog-menu-item.column-1 {
  width: 222px;
}

.catalog-menu-item.column-2 {
  width: 211px;
}

.catalog-menu-item.column-3 {
  width: 211px;
}

.slider-image {
  margin-right: 40px;
}

.slider-item {
  display: flex;
  flex-wrap: wrap;
}

.slider-item-description {
  width: 560px;
}

.slider-item-title {
  font-family: "raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: -20px;
  margin-bottom: 29px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item-text {
  margin: 0;
}

.primary-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--primaryTextColor);
  text-decoration: none;
  display: block;
}

.primary-button.quadrocopter {
  position: relative;
  margin-top: 60px;
  width: 220px;
}

.primary-button.quadrocopter::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -1;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.quadrocopter:hover {
  background-color: var(--primaryColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.quadrocopter:active {
  background-color: var(--battonActiveColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.quadrocopter:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.quadrocopter:disabled {
  opacity: 0.3;
}

.primary-button-text {
  z-index: 2;
}

.primary-button.fitness-bracelet {
  position: relative;
  margin-top: 60px;
  width: 220px;
}

.primary-button.fitness-bracelet::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -1;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.fitness-bracelet:hover {
  background-color: var(--primaryColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.fitness-bracelet:active {
  background-color: var(--battonActiveColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.fitness-bracelet:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.fitness-bracelet:disabled {
  opacity: 0.3;
}

.primary-button.monopode {
  position: relative;
  margin-top: 60px;
  width: 220px;
}

.primary-button.monopode::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -1;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.monopode:hover {
  background-color: var(--primaryColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.monopode:active {
  background-color: var(--battonActiveColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.monopode:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.monopode:disabled {
  opacity: 0.3;
}

.slider-item-info {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-top: 60px;
  list-style-type: none;
}

.slider-item-info-mean {
  padding-right: 58px;
}

.slider-item-info-description {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.main-catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.main-catalog-item {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.main-catalog-link.oculus-vr:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link.monopod:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link.action-camera:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link.fitness-bracer:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link.smart-watch:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link.quattrocopter:hover .main-catalog-background {
  background-color: var(--primaryHoverColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main-catalog-link:active {
  opacity: 0.3;
}

.main-catalog-pic {
  width: 160px;
  height: 160px;
}

.main-catalog-text {
  margin-top: 33px;
}

.main-catalog-background {
  background-color: var(--primaryColor);
  margin-bottom: 33px;
}

.main-catalog-pic.oculus-vr {
  background: url("../images/svg/vr.svg") no-repeat 50% 50%;
}

.main-catalog-pic.monopod {
  background: url("../images/svg/monopod.svg") no-repeat 50% 50%;
}

.main-catalog-pic.action-camera {
  background: url("../images/svg/action-camera.svg") no-repeat 50% 50%;
}

.main-catalog-pic.fitness-bracer {
  background: url("../images/svg/fitness-bracer.svg") no-repeat 50% 50%;
}

.main-catalog-pic.smart-watch {
  background: url("../images/svg/smart-whatch.svg") no-repeat 50% 50%;
}

.main-catalog-pic.quattrocopter {
  background: url("../images/svg/quattrocopter.svg") no-repeat 50% 50%;
}

.main-catalog-link {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--primaryTextColor);
  font-weight: 800;
}

.services {
  color: var(--primaryTextColor);
  background-color: var(--secondaryColor);
}

.services .container {
  display: flex;
}

.services-action {
  position: relative;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-top: 17px;
  box-sizing: border-box;
}

.services-action::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background-color: var(--primaryTextColor);
  top: 0%;
  left: 280px;
}

.services-action-item {
  margin-top: 56px;
  list-style-type: none;
}

.primary-button.services {
  position: relative;
  width: 160px;
  z-index: 0;
  border: 0;
}

.primary-button.services::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -2;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.services.active {
  display: flex;
  color: var(--primaryColor);
  background: var(--primaryTextColor);
  width: 280px;
}

.primary-button.services.active::after {
  position: absolute;
  content: "";
  background-color: var(--primaryTextColor);
  height: 8px;
  top: 50%;
  z-index: -2;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.services.active:hover .primary-button-text {
  padding: 0 30px;
}

.primary-button.services.active:focus .primary-button-text {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.about-delivery {
  position: relative;
  width: 270px;
  display: block;
  margin-top: 40px;
}

.primary-button.about-delivery::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -2;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.about-delivery:hover {
  background-color: var(--primaryColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.about-delivery:active {
  background-color: var(--battonActiveColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.about-delivery:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.about-delivery:disabled {
  opacity: 0.3;
}

.services-describe {
  margin: 0;
  margin-left: 123px;
  padding: 0;
}

.services-describe-item {
  width: 694px;
  list-style-type: none;
  margin-bottom: 70px;
}

.services-describe-item.delivery {
  position: relative;
  padding-right: 255px;
  box-sizing: border-box;
}

.services-describe-item.delivery::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 136px;
  height: 164px;
  background: url("../images/svg/delivery.svg");
}

.services-describe-item.guarantee {
  position: relative;
  padding-right: 255px;
  box-sizing: border-box;

}

.services-describe-item.guarantee::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 171px;
  height: 195px;
  background: url("../images/svg/gгarantee.svg");
}

.services-describe-item.credit {
  position: relative;
  padding-right: 255px;
  box-sizing: border-box;
}

.services-describe-item.credit::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 156px;
  height: 188px;
  background: url("../images/svg/credit.svg");
}

.services-describe-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.services-describe-about {
  display: block;
  margin-top: 34px;
}

.special-delivery {
  margin-top: 70px;
}

.delivery-icon {
  background: url(../images/svg/icon-delivery.svg) no-repeat 50% 50%;
  background-color: var(--primaryColor);
  width: 125px;
  height: 100px;
}

.delivery-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-faq {
  background: url(../images/svg/faq.svg) no-repeat 50% 50%;
  background-color: var(--secondaryColor);
  width: 125px;
  height: 100px;
}


.delivery-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--primaryTextColor);
  text-decoration: none;
}

.contacts-main-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 47px;
}

.contacts-text-number {
  margin: 0;
  margin-top: -30px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.primary-button.feedback {
  position: relative;
  width: 259px;
  display: block;
  margin-top: 40px;
  margin-bottom: 80px;
}

.primary-button.feedback::after {
  position: absolute;
  content: "";
  background-color: var(--primaryColor);
  height: 8px;
  top: 50%;
  z-index: -2;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
}

.primary-button.feedback:hover {
  background-color: var(--primaryColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.feedback:active {
  background-color: var(--battonActiveColor);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.primary-button.feedback:focus {
  box-shadow: 0 0 0 2px var(--battonFocusColor);
}

.primary-button.feedback:disabled {
  opacity: 0.3;
}

.subscribe-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 64px 252px 160px 0;
}

.subscribe-form button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 18px 39px;
  margin-right: 200px;
}

.subscribe {
  color: var(--primaryTextColor);
  background-color: var(--secondaryColor);
}

.subscribe .container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-text {
  margin-top: 74px;
}

.subscribe-text-free {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding-left: 30px;
  box-sizing: border-box;
}

.subscribe-text-free::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  background: url(../images/svg/ok.svg) no-repeat;
  left: 0;
  right: auto;
}

.subscribe-form {
  display: flex;
  height: 57px;
  margin-bottom: 56px;
}

.subscribe-submit {
  padding: 18px 39px;
}


/* ___________________________footer-index___________________________ */

.footer-services {
  display: flex;
}

.footer-contacts-addres {
  margin-right: 124px;
}

.footer-adress-text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  width: 239px;
}

.footer-servises-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 444px;
  margin-right: 183px;
}

.dekor-element {
  width: 80px;
}

.footer-servises-logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.footer-servises-logo::after {
  position: absolute;
  width: 80px;
  height: 7px;
  content: "";
  left: 0%;
  top: 20px;
  background-color: var(--primaryHoverColor);
}

.services-name {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-adress-number {
  font-style: normal;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  line-height: 20px;
}

.page-footer {
  color: #ffffff;
  background-color: var(--primaryDarkColor);
}

.delivery {
  margin: 70px auto;
}

.general-info {
  display: flex;
}

.about-us {
  position: relative;
  width: 520px;
  margin-right: auto;
  margin-top: 70px;
}

.about-us::after {
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: var(--primaryTextColor);
  content: "";
  top: 0%;
  left: 0%;
}

.about-us-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 47px;
}

.about-us-text {
  margin: 0;
  margin-bottom: 30px;
}

.delivery-list {
  margin-left: 36px;
  padding: 0;
  line-height: 20px;
}

.delivery-item {
  margin-bottom: 19px;
}

.contacts {
  position: relative;
  margin-top: 70px;
}

.contacts::after {
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: var(--primaryTextColor);
  content: "";
  top: 0%;
  left: 0%;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-title {
  font-family: "rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  color: var(--primaryDarkColor);
}



.footer-logo {
  width: 100%;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 444px;
  flex-wrap: wrap;
  justify-content: space-between
}

.services-item {
  display: block;
  list-style-type: none;
}

.footer-social-item {
  list-style-type: none;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 61px;
}

.footer-social-item.tg {
  background: url(../images/svg/icon-telegram.svg) no-repeat 50% 50%;
  background-color: var(--whiteColor);
  width: 40px;
  height: 40px;
  opacity: 0.3;
  border-radius: 50%;
}

.footer-social-item.tg:hover {
  background-color: var(--primaryHoverColor);
  opacity: 1;
}

.footer-social-item.tg:active {
  background-color: var(--primaryHoverColor);
  opacity: 0.3;
}

  .footer-social-item.yt {
    background: url(../images/svg/icon-Youtube.svg) no-repeat;
  }

  .footer-social-item.yt:hover {
    background: url(../images/svg/icon-Youtube.hover.svg) no-repeat;
  }

  .footer-social-item.tw {
    background: url(../images/svg/icon-twitter.svg) no-repeat;
  }

  .footer-social-item.tw:hover {
    background: url(../images/svg/icon-twitter.hover.svg) no-repeat;
  }

  li:nth-child(3n) {
    padding-right: 0;
  }

  .footer-contacts {
    font-size: 16px;
    line-height: 20px;
  }

  /* ___________________________catalog___________________________  */

  .main-title-text {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-left: 60px;
    margin: 35px auto 16px 60px;

  }

  .breadcrumb {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 60px;
    list-style-type: none;
  }

  .breadcrumb-item {
    margin-right: 36px;
  }

  .breadcrumb-link {
    color: var(--primaryTextColor);
    text-decoration: none;
    width: 165px;
  }

  .catalog-products {
    margin-top: 34px;
  }

  .product-list-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff
  }

  .up-down {
    display: flex;
    height: 30px;
    width: 60px;
    opacity: 0.3;
  }

  .triangle-up {
    background: url(../images/svg/Trngl-up.svg) no-repeat 11px 10px;
    box-sizing: border-box;
    padding: 15px;
  }

  .triangle-down {
    background: url(../images/svg/Trngl-down.svg) no-repeat 11px 10px;
    box-sizing: border-box;
    padding: 15px;
  }

  .catalog-wrapper {
    display: flex;
  }

  .catalog-products {
    background-color: var(--secondaryColor);
  }

  .catalog-filter-sidebar {
    width: 200px;
    padding: 0 60px;
  }

  .catalog-filter {
    width: 200px;
  }


  .catalog-filter-text {
    text-transform: uppercase;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    background-color: var(--secondaryColor);

  }

  .range-price-item {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.3;
    background-color: var(--secondaryColor);
    ;
  }

  .catalog-filter-group {
    font-size: 16px;
    line-height: 20px;
    background-color: var(--secondaryColor);
    ;
  }

  .catalog-filter-title {
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .catalog-filter-button {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    text-decoration: none;
    background-image: linear-gradient(#ffffff 35%, #FFE17F 35% 65%, #ffffff 65%);
    width: 220px;
    display: block;
  }

  .catalog-sorting {
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 40px;
    justify-content: space-between;

  }

  .catalog-sorting-text {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    align-items: center;
  }

  .product-list {
    display: grid;
    grid-template-columns: 360px 360px;
    list-style-type: none;
    gap: 44px 40px;
    margin-bottom: 44px;
    padding: 70px 40px 0 40px;
  }

  .product-card a {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--primaryTextColor);
    letter-spacing: -0.02em;
    text-decoration: none;
  }

  .product-card-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .product-card-title {
    margin: 0;
    max-width: 230px;
  }

  .product-card-price {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: var(--primaryDarkColor);
  }

  .get-more-button {
    display: flex;
    justify-content: center;
  }

  .get-more {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 3px solid #E5E5E5;
    background-color: #ffffff;
    padding: 18px 30px;
    width: 760px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--paginationColor);
    margin: 44px 40px 78px 40px;
    padding: 20px;
  }

  .pagination-list {
    display: flex;
    width: 172px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: var(--primaryDarkColor);
    text-decoration: none;
    opacity: 0.3;
  }

  .pagination-text-back {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--primaryDarkColor);
  }

  .pagination-link.pagination-current {
    opacity: 0.6;
  }

  .pagination-link.pagination-next {
    opacity: 1;
  }

  .pagination-text-next {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--primaryDarkColor);

  }
